<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    </head>
   <body>

    <div class="topnav">
        <a href="/">Home</a>
        <a href="states">States</a>
        <a href="districts">Districts</a>
        <a class="active" href="about">About</a>
    </div>
    <marquee>Website Designed and Developed By: Naveen Kumar</marquee>

    <p>To get detailed Notifiation every hour Join <a href="https://t.me/cricnotify">Telegram Channel</a> </p>
    <h3>Website Designed and Developed By:</h3>
    <h1 style="color: red;">---Naveen Kumar</h1>
    
   </body>
</html>
