<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    </head>
   <body>

    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="states">States</a>
        <a href="districts">Districts</a>
        <a href="about">About</a>
    </div>

    <p>To get detailed Notifiation every hour Join <a href="https://t.me/cricnotify">Telegram Channel</a> </p>
  
     <table border = 1>

        
        <tr>
            <th>Confirmed</th>
            <th>Deaths</th>
            <th>Recovered</th>
            <th>Active</th>
            <th>State</th>
        </tr>
        {% for i in result[1] %}

        <tr>
            {% for j in i %}
           <td> 
                {{j}}
            </td>
            {% endfor %} 
        </tr>
     {% endfor %}       

     </table>
   
   </body>
</html>
